%section#about
  .container
    .row
      .col-md-12.text-center
        %h2.section-title Cloud Advantages
    .row.spacer40
    .row
      .col-md-8.col-sm-8
        %img{:alt => "", "data-ani" => "animated", "data-type" => "fadeIn", :src => "img/mockup/nubiloom_visual_cloud.png"}/
      .col-md-4.col-sm-4
        %h3 
          Achieve economies of scale 
        %p
          Increase volume output or productivity with fewer people. Your cost per unit, project or product plummets.
        %h3 
          Reduce spending on technology infrastructure
        %p 
          Maintain easy access to your information with minimal upfront spending. Pay as you go (weekly, quarterly or yearly), based on demand.
        %h3
          Security 
        %p
          Highly secure data centers utilize state-of-the art electronic surveillance and multi-factor access control systems and staffed 24/7 by trained security guards.
        %h3
          Reduce capital costs
        %p 
          There’s no need to spend big money on hardware, software or licensing fees.
        %h3
          Improve accessibility
        %p
          You have access anytime, anywhere, making your life so much easier!
        %h3
          No hardware learning
        %p
          It takes fewer people to do more work on a cloud, no need for hardware learning.
        %h3 
          Improve flexibility
        %p
          You can change direction without serious “people” or “financial” issues at stake.

    .row.spacer80
  #parallax-one.parallax{:style => "background-image:url(img/parallax/back.png);"}
    .parallax-text-container-1
      .parallax-text-item
        .container
          .row
            .col-xs-6.col-sm-3.col-md-3
              .counter-item
                %i
                  = image_tag "banner/1.png"
                #item1.timer{"data-speed" => "5000", "data-to" => "82"}
                %h5 % of companies save money by oving to the cloud
            .col-xs-6.col-sm-3.col-md-3
              .counter-item
                %i
                  = image_tag "banner/2.png"
                #item2.timer{"data-speed" => "5000", "data-to" => "80"}
                %h5 % of cloud adopters saw improvement within 6 months
            .col-xs-6.col-sm-3.col-md-3
              .counter-item
                %i
                  = image_tag "banner/3.png"
                #item3.timer{"data-speed" => "5000", "data-to" => "1000000"}
                %h5 tb of data are already stored in the cloud 
            .col-xs-6.col-sm-3.col-md-3
              .counter-item
                %i
                  = image_tag "banner/4.png"
                #item4.timer{"data-speed" => "5000", "data-to" => "920000"}
                %h5 $ per year in productivity are saved up to by company with 100 employees
    