%section#about
  .container
    .row
      .col-md-12.text-center
        %h2.section-title about
    .row.spacer40
    .row
      .col-md-6
        .thumbnail-slider
          %ul.slides
            %li{"data-thumb" => "img/slider-content/1.jpg"}
              %a.popup-link{:href => "img/slider-content/1.jpg", :title => "title"}
                %img{:alt => "", :src => "img/slider-content/1.jpg"}/
            %li{"data-thumb" => "img/slider-content/2.jpg"}
              %a.popup-link{:href => "img/slider-content/2.jpg", :title => "title"}
                %img{:alt => "", :src => "img/slider-content/2.jpg"}/
            %li{"data-thumb" => "img/slider-content/3.jpg"}
              %a.popup-link{:href => "img/slider-content/3.jpg", :title => "title"}
                %img{:alt => "", :src => "img/slider-content/3.jpg"}/
            %li{"data-thumb" => "img/slider-content/4.jpg"}
              %a.popup-link{:href => "img/slider-content/4.jpg", :title => "title"}
                %img{:alt => "", :src => "img/slider-content/4.jpg"}/
            %li{"data-thumb" => "img/slider-content/5.jpg"}
              %a.popup-link{:href => "img/slider-content/5.jpg", :title => "title"}
                %img{:alt => "", :src => "img/slider-content/5.jpg"}/
      .col-md-6
        .spacer15
        %h3 Our Studio
        %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.
        %p
          Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.
        .spacer20
        %p.text-right
          %button.btn.btn-primary.btn-lg{:type => "button"} Presentation
    .row.spacer80
    .row
      .col-md-4
        %h3 Clients
        %p
          Duden flows by their place and supplies it
          with the necessary regelialia. It is a paradisem country, in which roasted parts of sentences
          into your mouth.
      .col-md-8
        .row
          .clients
            .col-xs-12.col-sm-3.col-md-3
              %a{:href => "#"}
                %img{:alt => "client1", :src => "img/clients/1.jpg"}/
            .col-xs-12.col-sm-3.col-md-3
              %a{:href => "#"}
                %img{:alt => "client1", :src => "img/clients/2.jpg"}/
            .col-xs-12.col-sm-3.col-md-3
              %a{:href => "#"}
                %img{:alt => "client1", :src => "img/clients/3.jpg"}/
            .col-xs-12.col-sm-3.col-md-3
              %a{:href => "#"}
                %img{:alt => "client1", :src => "img/clients/4.jpg"}/
    .row.spacer100