%footer#contact
  / footer begings
  .container
    .row
      .col-md-12.text-center
        %h2.section-title Contact
    .row.spacer40
    .row






      %form#ajax-form.form-main{:method => "post", :name => "ajax-form", :role => "form", :novalidate => ""}
        .col-xs-12
          .row
            .form-group.col-xs-6
              %label{:for => "mce-FNAME"} First Name
              %input#mce-FNAME.form-control{:name => "FNAME", :onblur => "if(this.value == '') this.value='First Name'", :onfocus => "if(this.value == 'First Name') this.value=''", :type => "text", :value => "First Name"}/
              #err-name.error Please enter first name
              %label{:for => "mce-LNAME"} Last Name
              %input#mce-LNAME.form-control{:name => "LNAME", :onblur => "if(this.value == '') this.value='Last Name'", :onfocus => "if(this.value == 'Last Name') this.value=''", :type => "text", :value => "Last Name"}/
              #err-last.error Please enter last name
              
            .form-group.col-xs-6
              %label{:for => "mce-EMAIL"} email
              %input#mce-EMAIL.form-control{:name => "EMAIL", :onblur => "if(this.value == '') this.value='E-mail';", :onfocus => "if(this.value == 'E-mail') this.value='';", :type => "text", :value => "E-mail"}/
              #err-emailvld.error E-mail is not a valid format
              %label{:for => "mce-MPHONE"} Phone
              %input#mce-MPHONE.form-control{:name => "MPHONE", :onblur => "if(this.value == '') this.value='Phone'", :onfocus => "if(this.value == 'Phone') this.value=''", :type => "number", :value => "Phone"}/
              #err-phone.error Please enter your phone
          .row
            .form-group.col-xs-12
              %label{:for => "mce-MMESSAGE"} message
              %textarea#mce-MMESSAGE.form-control{:name => "MMESSAGE", :onblur => "if(this.value == '') this.value='Message'", :onfocus => "if(this.value == 'Message') this.value=''"} Message
              #err-message.error Please enter message
          .row.spacer30
          %div{:style => "position: absolute; left: -5000px;"}
            %input{:name => "b_f1996d7493846a4c847c88470_53e1a9a188", :tabindex => "-1", :type => "text", :value => ""}/
          .row
            .col-md-8.col-md-offset-2
              %p.text-center We will NEVER spam/sell/trade your personal information.
          .row.spacer10
          .row
            .col-xs-12.text-center
              #ajaxsuccess E-mail was successfully sent.
              #err-form.error There was a problem validating the form please check!
              #err-timedout.error The connection to the server timed out!
              #err-state.error
              
              %button#send.btn.btn-default{:type => "submit"} Submit
  .top
    .top-line
    %a.back-to-top
      %i.fa.fa-angle-up
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6
        %h4 KEEP IN TOUCH
        .footer-socials
          
          %a{:href => "https://twitter.com/nubiloom"}
            %i.fa.fa-twitter
          %a{:href => "https://www.linkedin.com/company/nubiloom"}
            %i.fa.fa-linkedin
      .col-xs-12.col-sm-6.col-md-6
        %h4 ADDRESS
        %p
          Via Livorno 60 
          %br/
          10144 Torino
        %p
          +390110675001
          %br/
          %a{:href => "#"} www.nubiloom.com
          %br/
          info@nubiloom.com

  .spacer100