%header#header
  / parallax home
  #parallax-home.parallax{:style => "background-image:url(img/slider-main/header.png);"}
    .container
      .row
        .col-md-12
          .main-slider
            %ul.slides
              %li
                / 1st slide
                .parallax-text-container-home
                  .parallax-text-item#logo
                    %h1.white NUBILOOM
                    / Text
                    %p
                      Provides complex cloud and webapp architectural solutions
    %p.ls-l{"data-ls" => "durationin:2000;showuntil:8000;fadein:true;fadeout:true;scalexin:1.5;scaleyin:1.5;"}
      %a.down{:href => "#home"}
        %i.fa.fa-angle-down

  %nav.navbar{:role => "navigation"}
    .navbar-inner
      .container
        / logo with back to top
        %a.logo{:href => "#", :title => "Home"}
          %img{:alt => "logo", :src => "img/logo.png"}/
        / Menu
        %ul.nav
          %li
            %a{:href => "#home", :title => "Home"} Home
          %li
            %a{:href => "#services", :title => "Services"} Advantages
          %li
            %a{:href => "#about", :title => "About"} Offer
          %li
            %a{:href => "#team", :title => "Team"} Technologies
          %li
            %a{:href => "#job", :title => "Job"} Clients 
          %li
            %a{:href => "#showcase", :title => "Showcase"} News
          %li
            %a{:href => "#contact", :title => "Contact"} Contact
        %select.select-menu
        / select menu for small screens
  / Nav ends