%header#header
  / LayerSlider
  #full-slider-wrapper
    #layerslider{:style => "width:1920px; height:800px; max-width: 1920px;"}
      / Slide 1
      .ls-slide{"data-ls" => "slidedelay:8000;transition3d: 2,7,9;"}
        %img.ls-bg{:alt => "Slide background", :src => "img/slider-main/1.jpg"}/
        %h1.ls-l{"data-ls" => "durationin:2000;scalexin:1.5;scaleyin:1.5;", :style => "top:40%;left:50%;color:#fff;white-space: nowrap;"} WE ARE OVNI
        %p.ls-l{"data-ls" => "durationin:1500;delayin:3000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;", :style => "top:50%;left:50%;white-space: nowrap; color:#fff; text-align:center;"}
          Maturity and depth: with his second album, Mobthrow refines his very original mixture of beat-driven breaks and
          %br/
          highly evocative atmospheres, enriching them with a subtle newfound palette
        %p.ls-l{"data-ls" => "durationin:2000;showuntil:8000;fadein:true;fadeout:true;scalexin:1.5;scaleyin:1.5;", :style => "top:60%;left:50%;"}
          %a.down{:href => "#home"}
            %i.fa.fa-angle-down
      / Slide 1 End
      / Slide 2
      .ls-slide{"data-ls" => "slidedelay:8000;transition2d:5;"}
        %img.ls-bg{:alt => "Slide background", :src => "img/slider-main/2.jpg"}/
        %h1.ls-l{"data-ls" => "durationin:2000;scalexin:1.5;scaleyin:1.5;", :style => "top:40%;left:50%;color:#fff;white-space: nowrap;"} MINIMALISTIC
        %p.ls-l{"data-ls" => "durationin:1500;delayin:3000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;", :style => "top:50%;left:50%;white-space: nowrap; color:#fff; text-align:center;"}
          Maturity and depth: with his second album, Mobthrow refines his very original mixture of beat-driven breaks and
          %br/
          highly evocative atmospheres, enriching them with a subtle newfound palette
        %p.ls-l{"data-ls" => "durationin:2000;showuntil:8000;fadein:true;fadeout:true;scalexin:1.5;scaleyin:1.5;", :style => "top:60%;left:50%;"}
          %a.down{:href => "#home"}
            %i.fa.fa-angle-down
      / Slide 2 End
      / Slide 3
      .ls-slide{"data-ls" => "slidedelay:8000;transition3d:32,34,37,38,41;"}
        %img.ls-bg{:alt => "Slide background", :src => "img/slider-main/3.jpg"}/
        %h1.ls-l{"data-ls" => "durationin:2000;scalexin:1.5;scaleyin:1.5;", :style => "top:40%;left:50%;color:#fff;white-space: nowrap;"} STRONG CODE
        %p.ls-l{"data-ls" => "durationin:1500;delayin:3000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;", :style => "top:50%;left:50%;white-space: nowrap; color:#fff; text-align:center;"}
          Maturity and depth: with his second album, Mobthrow refines his very original mixture of beat-driven breaks and
          %br/
          highly evocative atmospheres, enriching them with a subtle newfound palette
        %p.ls-l{"data-ls" => "durationin:2000;showuntil:8000;fadein:true;fadeout:true;scalexin:1.5;scaleyin:1.5;", :style => "top:60%;left:50%;"}
          %a.down{:href => "#home"}
            %i.fa.fa-angle-down
      / Slide 3 End
  / LayerSlider End
  / Navigation starts
  %nav.navbar{:role => "navigation"}
    .navbar-inner
      .container
        / logo
        %a.logo{:href => "#", :title => "Home"}
          %img{:alt => "logo", :src => "img/logo.png "}/
        / Menu
        %ul.nav
          %li
            %a{:href => "#home", :title => "Home"} Home
          %li
            %a{:href => "#services", :title => "Services"} Services
          %li
            %a{:href => "#about", :title => "About"} About
          %li
            %a{:href => "#team", :title => "Team"} Team
          %li
            %a{:href => "#job", :title => "Job"} Job
          %li
            %a{:href => "#portfolio", :title => "Portfolio"} Portfolio
          %li
            %a{:href => "#showcase", :title => "Showcase"} Showcase
          %li
            %a{:href => "#contact", :title => "Contact"} Contact
        %select.select-menu
        / select menu for small screens
  / Navigation ends