%header#header
  / parallax home
  #parallax-home.parallax
    .container
      .row
        .col-md-12
          .main-slider
            %ul.slides
              %li
                / 1st slide
                .parallax-text-container-home
                  .parallax-text-item#logo
                    %h1.white NUBILOOM
                    / Text
                    %p
                      Provides complex cloud and webapp architectural solutions
    %p.ls-l
      %a.down{:href => "#home"}
        %i.fa.fa-angle-down

  %nav.navbar{:role => "navigation"}
    .navbar-inner
      .container
        / logo with back to top
        %a.logo{:href => "#", :title => "Home"}
          %img{:alt => "logo", :src => "img/logo.png"}/
        / Menu
        %ul.nav
          %li
            %a{:href => "#home", :title => "Home"} Home
          %li
            %a{:href => "#about", :title => "Cloud Advantages"} Advantages
          %li
            %a{:href => "#main-services", :title => "Offering"} Offering
          %li
            %a{:href => "#services", :title => "Services"} Services
          %li
            %a{:href => "#showcase", :title => "Projects"} Projects
          %li
            %a{:href => "#parallax-three", :title => "Twitter"} Twitter Stream 
          %li
            %a{:href => "#contact", :title => "Contacts"} Contact

        %select.select-menu
        / select menu for small screens
  / Nav ends