%section#home
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.section-title.vision 
          We leverage all the power of cloud computing today, not tomorrow,
          whatever our client is a startup or an enterprise. From determining the
          business case for moving to AWS, to designing, deploying and managing
          complex environments. Our solutions makes your initiatives deliver.
    