#parallax-two.parallax
  .parallax-text-container-2
    .parallax-text-item
      .container
        .row
          .col-md-8.col-md-offset-2
            %p.quote "What the new technology does is create new opportunities to do a job that customers want done."
            %p.author Tim O'Reilly