%section#services
  .container
    .row
      .col-md-12.text-center
        %h2.section-title services
    .row.spacer40
    .row
      .col-md-12
        %p.lead Fusce in tellus posuere, ullamcorper massa ut, posuere dolor. Aliquam sit amet adipiscing magna. Cras vitae tellus eget turpis tincidunt mattis. In tincidunt ante nisi. Donec non tortor lectus. Aliquam fringilla consectetur eleifend. Donec id elementum eros.
    .row.spacer50
    .row
      .col-md-3.col-xs-6
        .services-1
          .services-1-icon
            %i.fa.fa-lightbulb-o
          .services-1-title HTML / CSS
      .col-md-3.col-xs-6
        .services-1
          .services-1-icon
            %i.fa.fa-laptop
          .services-1-title WORDPRESS
      .col-md-3.col-xs-6
        .services-1
          .services-1-icon
            %i.fa.fa-tablet
          .services-1-title APPLICATIONS
      .col-md-3.col-xs-6
        .services-1
          .services-1-icon
            %i.fa.fa-globe
          .services-1-title PARTY
    .row.spacer70
    .row
      .col-md-12
        %hr.small-line/
    .row.spacer100
    .row
      .col-md-4.col-xs-12
        .services-2
          .services-2-icon
            %i.fa.fa-female
            %h4 HTML / CSS
          .services-2-text
            %p Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.
      .col-md-4.col-xs-12
        .services-2
          .services-2-icon
            %i.fa.fa-bell-o
            %h4 MODERN GRAPHIC DESIGN
          .services-2-text
            %p Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.
      .col-md-4.col-xs-12
        .services-2
          .services-2-icon
            %i.fa.fa-gamepad
            %h4 SERVER OPTIMALIZATION
          .services-2-text
            %p Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.
    .row
      .col-md-4.col-xs-12
        .services-2
          .services-2-icon
            %i.fa.fa-cloud-upload
            %h4 CLOUD HOSTING
          .services-2-text
            %p Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.
      .col-md-4.col-xs-12
        .services-2
          .services-2-icon
            %i.fa.fa-exchange
            %h4 RESPONSIVE LAYOUT
          .services-2-text
            %p Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.
      .col-md-4.col-xs-12
        .services-2
          .services-2-icon
            %i.fa.fa-bolt
            %h4 SOCIAL MARKETING
          .services-2-text
            %p Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named.
    .row.spacer120
  #parallax-one.parallax{:style => "background-image:url(img/parallax/1.png);"}
    .parallax-text-container-1
      .parallax-text-item
        .container
          .row
            .col-xs-6.col-sm-3.col-md-3
              .counter-item
                %i.fa.fa-cloud-upload
                #item1.timer{"data-speed" => "5000", "data-to" => "3991"}
                %h5 Files uploaded
            .col-xs-6.col-sm-3.col-md-3
              .counter-item
                %i.fa.fa-check
                #item2.timer{"data-speed" => "5000", "data-to" => "6394"}
                %h5 Projects completed
            .col-xs-6.col-sm-3.col-md-3
              .counter-item
                %i.fa.fa-coffee
                #item3.timer{"data-speed" => "5000", "data-to" => "18745"}
                %h5 Cups consumed
            .col-xs-6.col-sm-3.col-md-3
              .counter-item
                %i.fa.fa-male
                #item4.timer{"data-speed" => "5000", "data-to" => "9999"}
                %h5 Happy clients