%section#showcase
  .container
    .row
      .col-md-12
        %h3.big Projects
    .row
      .col-xs-6.col-sm-3.col-md-3
        %a{:href => "http://contestgram.com/"}
          .project-boxed
            .media-content
              %img{:alt => "contestgram", :src => "img/project-boxed/contestgram.png"}/
            .media-text
              
              %h4 Contestgram
              %h5 Mobile app
      .col-xs-6.col-sm-3.col-md-3
        %a{:href => "http://let.life"}
          .project-boxed
            .media-content
              %img{:alt => "letlife", :src => "img/project-boxed/letlife.png"}/
            .media-text
              
              %h4 Letlife
              %h5 Mobile + Web App

    .row.spacer80
    