%section#team
  .container
    .row
      .col-md-12.text-center
        %h2.section-title team
    .row.spacer40
    .row
      .col-md-12
        %p.lead Fusce in tellus posuere, ullamcorper massa ut, posuere dolor. Aliquam sit amet adipiscing magna.
    .row.spacer40
    .row
      .col-xs-12.col-sm-6.col-md-3
        .team
          .team-img
            %img{:alt => "team-1", :src => "img/team/1.jpg"}/
            %a.team-email{:href => "mailto:example@example.com"}
              %i.fa.fa-envelope
            .overlay
          .team-socials
            %a{:href => "#"}
              %i.fa.fa-facebook
            %a{:href => "#"}
              %i.fa.fa-google-plus
            %a{:href => "#"}
              %i.fa.fa-twitter
          .team-name
            %h3 Eliot Detaroit
          .team-position CEO
      .col-xs-12.col-sm-6.col-md-3
        .team
          .team-img
            %img{:alt => "team-2", :src => "img/team/2.jpg"}/
            %a.team-email{:href => "mailto:example@example.com"}
              %i.fa.fa-envelope
            .overlay
          .team-socials
            %a{:href => "#"}
              %i.fa.fa-facebook
            %a{:href => "#"}
              %i.fa.fa-google-plus
            %a{:href => "#"}
              %i.fa.fa-twitter
          .team-name
            %h3 Lili Sammson
          .team-position Marketing
      .col-xs-12.col-sm-6.col-md-3
        .team
          .team-img
            %img{:alt => "team-3", :src => "img/team/3.jpg"}/
            %a.team-email{:href => "mailto:example@example.com"}
              %i.fa.fa-envelope
            .overlay
          .team-socials
            %a{:href => "#"}
              %i.fa.fa-facebook
            %a{:href => "#"}
              %i.fa.fa-google-plus
            %a{:href => "#"}
              %i.fa.fa-twitter
          .team-name
            %h3 Erika Diow
          .team-position Designer / Artist
      .col-xs-12.col-sm-6.col-md-3
        .team
          .team-img
            %img{:alt => "team-4", :src => "img/team/4.jpg"}/
            %a.team-email{:href => "mailto:example@example.com"}
              %i.fa.fa-envelope
            .overlay
          .team-socials
            %a{:href => "#"}
              %i.fa.fa-facebook
            %a{:href => "#"}
              %i.fa.fa-google-plus
            %a{:href => "#"}
              %i.fa.fa-twitter
          .team-name
            %h3 Martin Kammeroon
          .team-position Develope
    .row.spacer40
  #parallax-three.parallax.parallax-2{:style => "background-image:url(img/parallax/3.png);"}
    .parallax-text-container-3
      .container
        .row
          .col-xs-12.col-sm-12.col-md-6.col-md-offset-3.col-lg-3.col-lg-offset-0
            %h2.section-title-gray Your content
            %p.lead Fusce in tellus posuere, ullamcorper massa ut, posuerede dolor. Aliquam sit amet adipiscing magna. Cras vitae tellus eget turpis tincidu mattis. In tincidunte fele the arent nisi.