#parallax-four.parallax
  .parallax-text-container-2
    .parallax-text-item
      .container
        .row
          .col-md-12.col-sm-12
            %h2.interval Twitter Stream
          .col-md-4.col-sm-12
            #hash-list
              %ul
                %li.aws{"data-type"=>"fadeIn"}
                  %a{:href=>"#"}
                    \#aws
                %li.cloud{"data-type"=>"fadeIn"}
                  %a{:href=>"#"}
                    \#cloud
                %li.awsstartups{"data-type"=>"fadeIn"}
                  %a{:href=>"#"}
                    \#awsstratups
                %li.awsactivate{"data-type"=>"fadeIn"}
                  %a{:href=>"#"}
                    \#awsactivate
                %li.reinvent{"data-type"=>"fadeIn"}
                  %a{:href=>"#"}
                    \#reinvent
                %li.nodejs{"data-type"=>"fadeIn"}
                  %a{:href=>"#"}
                    \#nodejs
                %li.mongodb{"data-type"=>"fadeIn"}
                  %a{:href=>"#"}
                    \#mongodb
          .col-md-8.col-sm-12
            #twitter.twitter
            

              
              