#parallax-three.parallax{:style => "background-image:url(img/parallax/back.png);"}
  .parallax-text-container-2
    .parallax-text-item
      .container
        .row
          .col-md-12.col-sm-12
            %h2.interval Twitter streaming
          .col-md-4.col-sm-12
            #hash-list
              %ul
                %li.aws
                  %a{:href=>"#"}
                    \#aws
                %li.cloud
                  %a{:href=>"#"}
                    \#cloud
                %li
                  %a{:href=>"#"}
                    \#cloudcomputing
          .col-md-8.col-sm-12
            #twitter.twitter
            

              
              