%section.project-detail
  .container
    .row
      .col-sm-6
        %img.image-bottom{:alt => "", :src => "img/project-detail/2.jpg"}/
      .col-sm-6
        %h2.text-left Project Title
        %p Fusce in tellus posuere, ullamcorper massa ut, posuerede dolor. Aliquam sit amet adipiscing magna. Cras vitae tellus eget turpis tincidu mattis. In tincidunte fele the arent nisi.
        %p Fusce in tellus posuere, ullamcorper massa ut, posuerede dolor. Aliquam sit amet adipiscing magna. Cras vitae tellus eget turpis tincidu mattis. In tincidunte fele the arent nisi.
        %p
          %button.btn.btn-primary{:type => "button"} Project page
        %p
          %a.portfolio-email{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Send"}
            %i.fa.fa-envelope-o
          %a.portfolio-share-fb{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Share"}
            %i.fa.fa-facebook
          %a.portfolio-like{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Like"}
            %i.fa.fa-heart-o
